.admin_evaluateProduct-header{
    padding:20px 0;
    text-align:center;
    font-size:25px;
    text-transform: uppercase;
    font-weight: bold;
}
.admin_evaluateProduct-content{
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

// .admin_evaluateProduct-table{

// }
.admin_evaluateProduct-row:first-child{
    background-color: #b39329;
    border-radius: 10px 10px 0 0;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
    border: none;
}
.admin_evaluateProduct-row{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
}
.admin_evaluateProduct-cell-name{
    flex:15%;
    max-width: 15%;
}

.admin_evaluateProduct-cell-star{
    flex:10%;
    max-width: 10%;
}

.admin_evaluateProduct-cell-email{
    flex:25%;
    max-width: 25%;
}

.admin_evaluateProduct-cell-comment{
    flex:30%;
    max-width: 30%;
}

.admin_evaluateProduct-cell-status{
    flex:10%;
    max-width: 10%;
}
.admin_evaluateProduct-cell-operation{
    flex:10%;
    max-width: 10%;
    display: flex;
    flex-wrap: wrap;
}
.admin_evaluateProduct-cell-operation button{
    height: 30px;
    outline: none;
    border-radius: 3px;
    border: none;
    font-size:16px;
    background-color:#b39329;
    color: #fff;
    padding:5px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
 }
.admin_evaluateProduct-cell-operation button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}
//---------------------------
.adminEvaluaProduct{
    position: fixed;
    height: 100%;
    width: 100%;
}

.adminEvaluaProduct-content{
    width: 600px;
    background-color: #f3f3f3;
    margin: 100px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding:20px;
}

.adminEvaluaProduct-content h3{
    text-transform: uppercase;
    color: #b39329;
    text-align: center;
    padding: 20px;
    font-size:25px;
}

.adminEvaluaProduct-btn{
    display: flex;
    align-items:center;
    padding:5px;
    justify-content:center;
}

.adminEvaluaProduct-btn-item{
    height:30px;
    width: 150px;
    background-color: #b39329;
    display: flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    margin: 0 10px;
    border-radius:3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.adminEvaluaProduct-btn-item:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}
.admin_evaluateProduct-row.none{
    justify-content:center;
}