<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="app">
        <div class="appAdmin">
            <div class="admin_header">
                <div class="admin_logo">
                    <div><i class="far fa-hand-peace"></i></div>
                    <div class="admin_logo-name">
                        <p>20CmShop Admin</p>
                    </div>
                </div>
                <div class="admin_search">
                    <input type="text" placeholder="Tìm kiếm">
                    <i class="fas fa-search"></i>
                </div>
                <div class="admin_user">
                    <div class="admin_user-icon">
                        <i class="fas fa-user-secret"></i>
                    </div>
                </div>
            </div>
            <div class="admin_container">
                <div class="admin_menu">
                    <div class="admin_item">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <p>Trang chủ</p>
                    </div>
                   <div class="admin_item">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <p>Quản lý sản phẩm</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-users-cog"></i>
                        <p>Quản lý người dùng</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-tasks"></i>
                        <p>Quản lý đơn hàng</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-phone-square"></i>
                        <p>Câu hỏi từ khách hàng</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-newspaper"></i>
                        <p>Quản lý tin tức</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-chart-bar"></i>
                        <p>Thống kê</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-cogs"></i>
                        <p>Cài đặt</p>
                    </div>
                </div>
                <div class="admin_body">
                    <div class="admin_background" style="background-image: url(/img/pictureShop.jpg)">
                        <div class="admin_background-title">
                            <p>An toàn là trên hết</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>